*,
html {
    margin: 0;
    padding: 0;
}

.div-nav {
    position: fixed;
    top: 0;    
    width: 100%;
    background-color: red;
    justify-items: center;
    height: 10vh;
}

.ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 10px;
}

.a-navbar {
    display: block;
    list-style-type: none;
    justify-items: center;
    font-size: 13px;
    font-family: sans-serif;
    padding: 0px;
    margin: 15px;
    color: white;
}

.a-navbar:hover {
    background-color: black;
    transition: .5s ease-in-out;
    transition-delay: .1s;
    border-radius: 10px;
    height: 25px;
}

/* index */
.container-div:nth-of-type(1) {
    margin: 0;
    margin-top: 55px;
    background-color: powderblue;
    width: 100%;
    height: max-content;
    display: block;
    writing-mode: horizontal-tb;
    box sizing: content-box;
}

.logo-div {
    background-color: yellowgreen;
    padding: 10px;
    top: 10px;
}

.video-div {
    background-color: blueviolet;
    padding: 5px;
}

.trip-div {
    width: 50%; 
    border: solid 1px;
    padding: 10px;
}


iframe {
    width: 560px;
    height: 315px;
}

.info-div {
    border: solid 1px;
    padding: 10px;
    margin: 10px;
    width: 50%;
    height: auto;
    font-family: sans-serif;
}

/* about us */
.about-div {
    position: relative;
    height: max-content;
    top: 50px
    margin: 10%;
    margin-top: 55px;

}

.artikel:nth-of-type(1) {   
    position: absolute;    
   
    height: 80%;    
    font-family: sans-serif;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding: 10px;
}

aside {
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    float: right;
    justify-items: center;
    font-style: italic;
    font-family: sans-serif;
    color: white;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));

}

/* program */
.sect-program:nth-of-type(1) {
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    height: 360px;
    margin: 0;
    padding: 10px;
}

.flex-container>div {
    background-color: rgb(255, 165, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 200px;
    height: 250px;
    margin: auto;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.li-misi {
    padding: 10x;
    margin-top: 3px;
    margin-left: 20px;
}

/* footer */
footer {
    display: flex;
    justify-content: left;  
    background-color: blue;
    column-gap: 230px;

}

.cr { 
    padding: 10px;    ;
    background-color: chocolate;
    color: #fff;
    justify-items: flex-start;
}

.medsos-div {
    background-color: red;
    padding: 10px;
    font-family: Arial;
    font-size: 13px;
   
    
}

.medsos-div>a {    
    text-align: left;
    font-size: 20px;
}

