*,
html {
    margin: 0;
    padding: 0;
}

.div-nav {
    background-color: red;
    justify-items: center;
    height: 10vh;
}

.a-navbar {
    display: inline-flex;
    justify-items: center;
    font-size: 13px;
    padding: 0px;
    margin: 15px;
    color: white;
}

.a-navbar:hover {
    background-color: black;
    transition: .5s ease-in-out;
    transition-delay: .1s;
    border-radius: 10px;
    height: 25px;
}

/* index */
.sect-index {
    margin: 0;
    display:block; 
}

.container {
    position: relative;        
    width: 190px;
    height: 200px;
    left: 20px;
}

.logo {
    position: absolute;    
    padding: 10px;
    top: 10px;
    left: 10px;
    width: 110px;
    height: 110px;       
}

.video-div {
    margin: auto;
    padding: 10px;    
    width: 560px;
}

iframe {
    width: 560px;
    height: 315px;
}

.info-div {
    border: solid 1px;
    padding: 10px;
    margin: 10px;
    margin-left: 245px;
    width: 50%;
    font-family: sans-serif;   
}

/* about us */
.about-div {        
    position: relative;
    height: max-content;    
    margin: 0;    
}

.artikel {    
    margin: 0;
    position: absolute;
    top: 0;
    height: 75%;
    font-family: verdana;
    font-size: 12px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding: 20px;        
}

aside {
    width: 60%;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    float: right;
    justify-items: center;
    font-style: italic;
    color: white;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1));
}

/* program */
.sect-program {
    text-align: center;
    font-family: verdana;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    height: 360px;
    margin: 0;
    padding: 10px;    
}

.flex-container>div {
    background-color: rgb(255,165,0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);        
    width: 200px;
    height: 250px;
    margin: auto;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-family: Verdana;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.li-misi {
    padding: 10x;
    margin-top: 3px;
    margin-left: 20px;
}

.h1-footer {
    color: white;
    font-size: small;
    font-family: verdana;
}

.medsos-div {           
    padding: 10px;
    font-family: Arial;
    font-size: 13px;   
}

.medsos-div> a {
    display: contents;
    text-align: center;
    font-size: 20px;    
}

.marki {
    background-color: black;
    padding: 5px;
}
