*,
html {
    margin: 0;
    padding: 0;
}

.div-nav {
    position: fixed;
    top: 0;
    margin-top: 0;
    background-color: #FF0000;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(138, 2, 2);
    justify-items: center;
    height: 10vh;
    width: 100%;
}

.ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 10px;
}

.a-navbar {
    display: block;
    list-style-type: none;
    justify-items: center;
    font-size: 15px;
    font-family: sans-serif;
    padding: 0px;
    margin: 15px;
    color: white;
}

.a-navbar:hover {
    background-color: black;
    transition: .5s ease-in-out;
    transition-delay: .1s;
    border-radius: 5px;
    height: 25px;
}

/* index */
.container-div:nth-of-type(1) {
    margin-top: 45px;    
    width: 100%;
    height: max-content;
    display: flex;
    writing-mode: horizontal-tb;
    box-sizing: content-box;
    justify-content: flex-start;
    
}

.logo-div {
    top: 0;
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;      
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    border: solid 1px;
    
    
}

.video-div {    
    padding: 10px;
    padding-bottom: 5px;
}

.home-section {
    padding: 10px;
}

.trip {    
    border: solid 1px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 10px;
    margin-right: 5px;
    font-family: sans-serif;    
}


iframe {
    width: 560px;
    height: 315px;
}

.info-div {
    display: inline-block;
    border: solid 1px;
    padding: 10px;
    margin: 10px;
    width: 80%;
    height: fit-content;    
    font-family: sans-serif;
    row-gap: 10px;


}

.info-div.img {
    margin-right: 10px;
    width: 50%;
}

.info-div.article {
    top: 10px;
    padding: 10px;    
}


/* about us */
.about-div {

    height: max-content;
    margin-top: 45px;
}

.artikel:nth-of-type(1) {    
    background-image: url('ngasoh.jpg');
    background-size: cover;
    border-image: fill 0 linear-gradient(rgb(60, 54, 54), rgba(60, 54, 54, 0.5));
    height: max-content;
    font-family: sans-serif;    
    color: white;
    padding: 10px;
}

aside {
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    float: right;
    justify-items: center;
    font-style: italic;
    font-family: sans-serif;
    color: white;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));

}

/* program */
.sect-program {
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    height: 360px;
    margin: 0;
    padding: 10px;

}

.flex-container>div {
    background-color: #ffe100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 200px;
    height: 250px;
    margin: auto;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-family: sans-serif;
    padding: 5px;
    border-radius: 5px;
    color: #000;
}

.li-misi {
    padding: 10x;
    margin-top: 3px;
    margin-left: 20px;
}

/* footer */
footer {
    display: flex;
    height: 20vh;
    justify-content: left;
    background-color: #000;
    column-gap: 230px;

}

.cr {
    padding: 10px;
    align-content: center;    
    color: #fff;
    font-family: sans-serif;

}

.medsos-div {
    color: white;
    padding: 10px;
    font-family: sans-serif;
    font-size: 13px;
    align-content: center;


}

.medsos-div>a {
    text-align: left;
    font-size: 20px;
    color: #ffe100;
}